<div class="row row-m-25">
  <section class="details-card">
    <div class="container container-w">
      <div class="row">
        <h2 class="text-center">Lugares turísticos del Ecuador</h2>
        <hr>
        <div class="col-md-6">
          <div class="card-content">
            <div class="card-img">
              <img src="assets/images/d1.jpg" alt="">
            </div>
            <div class="card-desc">
              <h3>Islas Galápagos</h3>
              <p>
                Ubicadas a poco menos de mil kilómetros de las costas del continente americano, se encuentran las islas Galápagos, un conjunto de trece islas de origen volcánico y más de un centenar de islotes y afloramientos rocosos, asombrosa reserva de diversidad biológica donde conviven casi dos mil especies endémicas, entre ellas las famosas tortugas terrestres gigantes que fascinaron a Darwin.
                <br>
                <br>
                Declaradas como Patrimonio de la Humanidad por la Unesco, el archipiélago es casi en su totalidad un Parque Nacional, existiendo reducidas áreas de asentamientos humanos tales como Puerto Villamil y Puerto Ayrora, desde donde parten las expediciones al resto de las islas
              </p>
              <a href="https://enviajes.cl/ecuador/lugares-turisticos-de-ecuador/" target="_blank" class="btn-card">Fuente</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card-content">
            <div class="card-img">
              <img src="assets/images/d2.jpg" alt="">
            </div>
            <div class="card-desc">
              <h3>Ciudad mitad del Mundo</h3>
              <p>
                Uno de los lugares turísticos de Ecuador que genera mayor curiosidad por su supuesta posición en la mitad del mundo, lugar donde se levantó un monumento piramidal de 30 metros de altura que señala la división entre el hemisferio norte y sur.
                <br>
                <br>
                Aún cuando hoy se sabe gracias a la tecnología GPS que el centro preciso estaría 240 metros más al sur, sigue siendo un imperdible la foto en el monumento. Otros atractivos son el Museo Antropológico y Etnográfico ubicado al interior de la estructura y la pequeña ciudad que la rodea, construida a modo de réplica de una ciudad colonial española.
              </p>
              <a href="https://enviajes.cl/ecuador/lugares-turisticos-de-ecuador/" target="_blank" class="btn-card">Fuente</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card-content">
            <div class="card-img">
              <img src="assets/images/d3.jpg" alt="">
            </div>
            <div class="card-desc">
              <h3>Volcán y Laguna Quilotoa</h3>
              <p>
                Espectacular anfiteatro natural situado en el cráter del volcán Quilotoa, en cuyo centro de 3 kilómetros de diámetro se ha formado una laguna de tonalidades verdes azulosas. El espectáculo desde arriba, es un impresionante mirador natural que permite apreciar la majestuosidad del paisaje, mientras que desde abajo, descendiendo 280 metros, es posible ver las burbujas irregulares que emergen de las fumarolas del volcán.
                <br>
                <br>
                Para su ascenso se debe llegar al pueblo de Zumbahua, desde donde se accede en bus a la comunidad de Quilotoa, recorriendo los serpenteantes caminos de la Cordillera de los Andes, a través de la ruta conocida como la “Cumbre”.
              </p>
              <a href="https://enviajes.cl/ecuador/lugares-turisticos-de-ecuador/" target="_blank" class="btn-card">Fuente</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card-content">
            <div class="card-img">
              <img src="assets/images/d4.jpg" alt="">
            </div>
            <div class="card-desc">
              <h3>Tren de la Nariz del Diablo</h3>
              <p>
                Recorrido en tren que atraviesa los paisajes de la Cordillera de los Andes, uniendo los poblados de Alausí y Sibambe a través de zigzagueantes caminos que conforman una de las rutas más complejas del mundo. Su punto más álgido lo conforma la colina apodada la Nariz del Diablo, lugar en el cual los rieles del tren descienden 80 metros prácticamente en forma vertical, gracias a una impresionante obra de ingeniería.
                <br>
                <br>
                Su punto de inicio corresponde a Alausí, un poblado que no deja de encantar por sus estrechas calles empedradas, balcones con flores y pintorescas casonas de adobe del siglo XIX. Desde ahí la excursión ida y vuelta dura aproximadamente 2 horas y media, parando por un tiempo en el poblado de Sibambe, lugar donde se puede disfrutar de la gastronomía típica de la sierra ecuatoriana o visitar su pequeño museo.
              </p>
              <a href="https://enviajes.cl/ecuador/lugares-turisticos-de-ecuador/" target="_blank" class="btn-card">Fuente</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
