<div class="d-flex flex-column p-3 bg-light flex-w-100">
  <hr>
  <ul class="nav nav-pills flex-column">
    <li class="mb-nav">
      <a href="#" class="nav-link active">Islas Galápagos</a>
    </li>
    <li class="mb-nav">
      <a href="#" class="nav-link active">Quito: Ciudad mitad del Mundo</a>
    </li>
    <li class="mb-nav">
      <a href="#" class="nav-link active">Volcán y Laguna Quilotoa</a>
    </li>

    <li class="mb-nav">
      <a href="#" class="nav-link active">Tren de la Nariz del Diablo</a>
    </li>
  </ul>
  <hr>
</div>
